body {
  background-color: #eee;
  font-family: Poppins, sans-serif;
  min-height: 100vh;
  color: #222;
  background-image: url(../assets/bg-low-res.jpg);
  background-size: cover;
  transition: background-image 0.5s ease-in-out;
}

body::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  background-color: rgba(0, 0, 0, 0.8);
}

.game {
  min-height: 100vh;
}

.game.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game .loader {
  display: none;
  padding: 1em;
  gap: 1em;
  width: 400px;
  min-height: 200px;
  background-color: #fff;
  border-radius: 0.3em;
  text-align: center;
  background-image: url(../assets/loading.svg);
  background-repeat: no-repeat;
  background-position: center -10px;
}

.game.loading .loader {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.game.loading .screen {
  display: none !important;
}

.game button {
  text-align: center;
  padding: 10px;
  background-color: lightgray;
  font-weight: bold;
  border-radius: 0.3em;
  box-shadow: 0 0.2em gray;
}

.game button:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

.game.screen--ConfigureScreen,
.game.screen--ScoreScreen
 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game > .screen.screen--ConfigureScreen,
.game > .screen.screen--ScoreScreen {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 0.5em;
  width: 400px;
  background-color: #fff;
  border-radius: 0.3em;
}

.game > .screen.screen--ConfigureScreen{
  padding-top: 150px;
  background: #fff url(../assets/pokemon-logo.svg) no-repeat;
  background-position: 0 -75px;
}

.game > .screen.screen--ConfigureScreen h2{
  text-align: center;
  color: #FFCB02;
  -webkit-text-stroke: 1px #3464ad;
  font-family: 'Pokemon Solid', sans-Poppins, sans-serif;
}

.game > .screen.screen--ConfigureScreen label{
  font-weight: bold;
}

.game > .screen.screen--ConfigureScreen select{
  margin-bottom: 1em;
}

.game > .screen.screen--CardsScreen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin: 1em 0;
  min-height: 100vh;
  color: rgb(255 254 255);
}

flippable-card {
  width: 200px;
}
flippable-card[paired][paired-visually] {
  opacity: 0;
  transition: opacity 0.8s ease;
}
flippable-card[disabled] [slot] {
  cursor: initial;
}

flippable-card [slot] {
  padding: 1em;
  border-radius: 0.3em;
}

flippable-card [slot="front"] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  color: rgb(24 23 31);
}

flippable-card [slot="front"] p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

flippable-card [slot="front"] img {
  height: 130px;
  margin-bottom: 0.5em;
}

flippable-card.type [slot="front"] {
  background: radial-gradient(circle at 50% -35%, #bbbbbb 50%, #fff 36%);
  border: 3px solid #bbbbbb;
}
flippable-card.type.type--bug [slot="front"] {
  background: radial-gradient(circle at 50% -35%, #94bc4a 50%, #fff 36%);
  border: 3px solid #94bc4a;
}
flippable-card.type.type--dark [slot="front"] {
  background: radial-gradient(circle at 50% -35%, #736c75 50%, #fff 36%);
  border: 3px solid #736c75;
}
flippable-card.type.type--dragon [slot="front"] {
  background: radial-gradient(circle at 50% -35%, #6a7baf 50%, #fff 36%);
  border: 3px solid #6a7baf;
}
flippable-card.type.type--electric [slot="front"] {
  background: radial-gradient(circle at 50% -35%, #e5c531 50%, #fff 36%);
  border: 3px solid #e5c531;
}
flippable-card.type.type--fairy [slot="front"] {
  background: radial-gradient(circle at 50% -35%, #e397d1 50%, #fff 36%);
  border: 3px solid #e397d1;
}
flippable-card.type.type--fighting [slot="front"] {
  background: radial-gradient(circle at 50% -35%, #cb5f48 50%, #fff 36%);
  border: 3px solid #cb5f48;
}
flippable-card.type.type--fire [slot="front"] {
  background: radial-gradient(circle at 50% -35%, #ea7a3c 50%, #fff 36%);
  border: 3px solid #ea7a3c;
}
flippable-card.type.type--flying [slot="front"] {
  background: radial-gradient(circle at 50% -35%, #7da6de 50%, #fff 36%);
  border: 3px solid #7da6de;
}
flippable-card.type.type--ghost [slot="front"] {
  background: radial-gradient(circle at 50% -35%, #846ab6 50%, #fff 36%);
  border: 3px solid #846ab6;
}
flippable-card.type.type--grass [slot="front"] {
  background: radial-gradient(circle at 50% -35%, #71c558 50%, #fff 36%);
  border: 3px solid #71c558;
}
flippable-card.type.type--ground [slot="front"] {
  background: radial-gradient(circle at 50% -35%, #cc9f4f 50%, #fff 36%);
  border: 3px solid #cc9f4f;
}
flippable-card.type.type--ice [slot="front"] {
  background: radial-gradient(circle at 50% -35%, #70cbd4 50%, #fff 36%);
  border: 3px solid #70cbd4;
}
flippable-card.type.type--normal [slot="front"] {
  background: radial-gradient(circle at 50% -35%, #aab09f 50%, #fff 36%);
  border: 3px solid #aab09f;
}
flippable-card.type.type--poison [slot="front"] {
  background: radial-gradient(circle at 50% -35%, #b468b7 50%, #fff 36%);
  border: 3px solid #b468b7;
}
flippable-card.type.type--psychic [slot="front"] {
  background: radial-gradient(circle at 50% -35%, #e5709b 50%, #fff 36%);
  border: 3px solid #e5709b;
}
flippable-card.type.type--rock [slot="front"] {
  background: radial-gradient(circle at 50% -35%, #b2a061 50%, #fff 36%);
  border: 3px solid #b2a061;
}
flippable-card.type.type--steel [slot="front"] {
  background: radial-gradient(circle at 50% -35%, #89a1b0 50%, #fff 36%);
  border: 3px solid #89a1b0;
}
flippable-card.type.type--water [slot="front"] {
  background: radial-gradient(circle at 50% -35%, #539ae2 50%, #fff 36%);
  border: 3px solid #539ae2;
}

flippable-card [slot="back"] {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  min-height: 100%;
  padding: 0;
  background: #fff url(../assets/pokeball.png) no-repeat center;
  background-size: 80px;
}
